@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
}

p {
    font-size: .9em ;
    line-height: 1.6em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
    width: 80%;
    justify-content: center;
    margin-left: 10%;

}

nav {
    //width: 100%;
    //display: flex;
    //justify-content: space-between;
    //align-items: baseline;
    background-color: #f7f7f7;
    padding: 1em;
    font-size: 1.6em;
}


.logo{
    width: 100px;
    //padding: 1em;
    //vertical-align: middle;
}

.menu {
    //display: none;
    //vertical-align: middle;
    list-style-type: none;
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media screen  and (max-width:900px){
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.menu li{
    cursor: pointer;
    //flex:auto;
    //text-align: center;
}
.menu li a{
    display: block;
    padding: 0;
}

.toggle {
    order: 1;
    //font-size: 40px;
    @media screen  and (min-width:900px){
        display: none;
    }
}

.item{
    //padding: 1em;
    display: block;
    order: 3;
    width: 50px;
    //text-align: center;
    //cursor: pointer;
    @media screen  and (max-width:900px){
        display: none;
    }
    //display: none;



}

/*.active .item{
    display: block;
}*/

.item a.active{
    color: #286f76;
}

.item a:hover{
    border-top: #921b1e 6px solid;
}

.mobile-menu{
    width: 35px;
    padding-bottom: .8em;
}
/*.mobile-menu{
    width: 35px;
    margin-top: .2em;
    padding: 1em;
    justify-self: flex-start;
    vertical-align: middle;
}*/

.hero-banner{
    display: flex;
    margin-top: 0em;
    padding: 1em;
}

.column{
    flex: 50%;
}


@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*.hero-banner::after{
    content: "";
    display: table;
    clear: both;
}

.hero-col-1{
    position: relative;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
}*/

.profile_pic{
    width: auto; //15em;
    height: 20em;
    justify-content: right;
    //margin: 2em auto 2em ;
    animation: fadeIn 2400ms both;
    @media screen  and (max-width:479px){
        display: none;
    }
    
}

h1, .intro {
    position: relative;
    z-index: 3;
    font-size: 2.6em;
    text-align: left;
}

h1{
    margin-bottom: 0%;
    color:#286f76 ;
    animation-name: fadeInLeft;
    animation-duration: 1000ms;
    animation-fill-mode: both;
}

.intro {
    font-size: 1.6em;
    animation-name: fadeInLeft;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    animation-delay: 200ms;
    
}

.intro-color{
    color: #921b1e;
}

.cta {
    background: #172731;
    color: white;
    text-decoration: none;
    padding: .8em;
    border-radius: 50px;
    font-size: 1.6em;
    display: block;
    width: 8em;
    margin: auto;
    float: left;
    cursor: pointer;
    animation-name: fadeInLeft;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    animation-delay: 400ms;
}
.cta:hover{
    background-color: #921b1e;
}

.cta2 {
    background: white;
    border-color: #172731;
    border-style: solid;
    color: #172731;
    text-decoration: none;
    padding: .8em;
    border-radius: 50px;
    font-size: 1.1em;
    display: block;
    width: 7em;
    margin: auto;
    margin-top: 1em;
    display: none;
}


h2{
    text-align: center;
    margin: 0%;
    font-size: 2.2em;
}

.dark-container{
    width: 100%;
    background: #172731;
    color: white;
    //margin-top: 15%;
    padding: 4em 0 2em;
    //padding-top: 15%;;
}


.path1{
    display: none;
}


.sticker-cont{
    display: flex;
}

.sticker{
    background: white;
    width: 50%;
    height:80%;
    margin: 2em auto 2em;
    color: #172731;

}

.sticker-img{
    height: 50%;
    width: 100%;
}

.sticker-txt{
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.6em;
}

.teal-container {
    display: block;
    width: 100%;
    background-color: #286f76;
    color: white;
    padding: 4em 0 2em;
}

.card-grid{
    display: flex;
    @media screen  and (max-width:730px){
        flex-direction: column;
    }
}

.card-txt{
    text-align: center;
    font-size: 1.6em;
}